<a href="https://colab.research.google.com/github/Medeir4s/lista_logica_programacao/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#q14.A
print("Hello World")
#O comando print escreve tudo que esta entre aspas duplas.

Hello World

In [ ]:
#q14.B
print("Hello, World")
#O comando print escreveu tudo igual entre aspas dupla.

Hello, World

In [ ]:
#q14.C
print("Hello!\n My name is Jhon")
#o comando \n faz com que crie, ou seja cria um parágrafo.

Hello!
 My name is Jhon

In [ ]:
#q14.D
print("Hello!\t My name is Jhon")
#O comando \t faz com que crie um espaço maior.

Hello!	 My name is Jhon

In [ ]:
#q14.E
print("Um dia, ela disse:")
print("Estarei aqui por você.")
#O computador ele escreve os dados por ordem.

Um dia, ela disse:
Estarei aqui por você.

In [ ]:
#q15
print("""Meu Nome e Guilherme
Tenho 15 Anos.
Cresci e nasci em Natal-RN""")

Meu Nome e Guilherme
Tenho 15 Anos.
Cresci e nasci em Natal-RN

In [ ]:
#q16.A
macas = 5
laranjas = 10
frutas = macas+laranjas
print(frutas)

15

In [ ]:
#q16.B
macas = 20
larnajas = 10
frutas = macas+laranjas
print(frutas)

30

In [ ]:
#q17.
nome =input("Guilherme")
idade =input("15 anos")
print =("oi"),("qual o seu nome?"),nome,("qual a sua idade"),idade

Guilherme
15 anos

In [ ]:
#q18.
numero_01 =input("numero x")
numero_02 =input("numero y")
print =("numero_01"),("numero_02")

numero x
numero y

In [ ]:
#q19 erro
opcoes = ["Somar", "Multiplicar", "Maior", "Novos números", "Sair"]
for i, opcao in enumerate(opcoes):
    print(f"{i + 1} - {opcao}")
    escolha = input("Escolha uma opção: ")
print(f"Você escolheu a opção {opcoes[int(escolha) - 1]}.")

In [ ]:
#q20.erro
x =(2.7)
type(float)
x = (27)
type(int)
x = (False)
type(bool)
x = ("False")
type(str)
x = ("0.0")
type(float)
x = (-21)
type (int)
x =(99999999)
type (int)
x = ("none")
type(None)
x = (none)
type(None)

In [ ]:
#q21.A
print("True para str:", str(True))
#q21.B
print("3 para float:", float(3))
#q21.C
print("3.8 para str:", str(3.8))
#q21.D
#print("0.5 para int:", int(0.5))
#q21.E
print("'4' para int:", int("4"))

True para str: True
3 para float: 3.0
3.8 para str: 3.8
'4' para int: 4

In [ ]:
#q22.A
x =(2.25-1)
print =(round)(int(x))
print
#q22.B
x =(3.0*3)
print =(round)(float(x))
print
#q22.C
x =(2*4)
print =(round)(int(x))
print
#q22.D
x =(2.0**4)
print =(round)(int(x))
print
#q22.E
x =(2./2.0)
print =(round)(int(x))
print
#q22.F
x =(6/4)
print =(round)(int(x))
print
#q22.G
x =(6%4)
print =(round)(int(x))
print
#q22.H
x =(4%2)
print =(round)(int(x))
print
#q22.I
x =(0.58)
print =(round)(int(x))
print

0

In [ ]:
#q23.A
a =(10)
b =(9)
print =(int(a+b))
print
#q23.B
x =(-10)
y =(4)
print =(int(x+y))
print

-6

In [ ]:
#q24
nota1 =float(input("1.1"))
nota2 =float(input("1.1"))
nota3 =float(input("1.2"))
media_ponderada =(nota1*2+nota2*3+nota3*5)
print =("A média ponderada do aluno é",media_ponderada)
print

1.11
1.12
1.23

('A média ponderada do aluno é', 23.0)

In [49]:
#q25
a = int(input("valor de A é"))
b = int(input("valor de B é"))
c = int(input("valor de C é"))
d = int(input("valor de D é"))
diferenca =(a*b-c*b)
print =("a diferenca é:",diferenca)
print

valor de A é2
valor de B é3
valor de C é5
valor de D é7

('a diferenca é:', -9)

In [ ]:
#q26 erro
matricula = str(input("Digite a matrícula do funcionário: "))
horas_trabalhadas = int(input("Digite o número de horas trabalhadas: "))
valor_hora = float(input("Digite o valor recebido por hora: "))

salario = horas_trabalhadas * valor_hora

print(f"Matrícula: {matricula}")
print(f"Salário: R$ {salario:.2f}")

In [37]:
#q27
soma = 2+2+2
print
produto = -6*soma
print
produto /=10
print =("o resultado do produto é:",produto)
print

('o resultado do produto é:', -3.6)

In [30]:
#q28.A
vendedor = str(input("digite seu nome:"))
salario = float(input("seu salario fixo:"))
vendas_mes = float(input("quntidade de vendas:"))
comissao =vendas_mes * 0.15
total = salario + comissao
print(f"total = ${total:.2f}")

digite seu nome:JOAO
seu salario fixo:500
quntidade de vendas:1230.30
total = $684.54

In [27]:
#28.B
vendedor = str(input("digite seu nome:"))
salario = float(input("seu salario fixo:"))
vendas_mes = float(input("quntidade de vendas:"))
comissao =vendas_mes * 0.15
total = salario + comissao
print(f"total = ${total:.2f}")

digite seu nome:PEDRO
seu salario fixo:700
quntidade de vendas:0
total = $700.00

In [15]:
#q29
PI = 3.14159
raio = float(input("Digite o valor do raio: "))
volume = (4 / 3) * PI * raio ** 3
print(f"O volume da esfera é de {volume:.2f} cm³")

Digite o valor do raio: 2.0
O volume da esfera é de 33.51 cm³

In [18]:
#q30 IA
a = float(input("Digite o valor de a: "))
b = float(input("Digite o valor de b: "))
c = float(input("Digite o valor de c: "))
area_triangulo = (a * c) / 2
area_trapezio = (a + b) * c / 2
area_quadrado = b ** 2
area_retangulo = a * b
print(f"Área do triângulo: {area_triangulo:.2f}")
print(f"Área do trapézio: {area_trapezio:.2f}")
print(f"Área do quadrado: {area_quadrado:.2f}")
print(f"Área do retângulo: {area_retangulo:.2f}")

Digite o valor de a: 4
Digite o valor de b: 3
Digite o valor de c: 5
Área do triângulo: 10.00
Área do trapézio: 17.50
Área do quadrado: 9.00
Área do retângulo: 12.00

In [19]:
#q31
10 % 3 * 10 ** 2 + 1 - 10 * 4 / 2

81.0

In [22]:
#q32
distancia = float(input("Digite a distância total percorrida:"))
combustivel = float(input("Digite o total de combustível gasto:"))
consumo_medio = distancia / combustivel

print(f"O consumo médio do automóvel é de {consumo_medio:.2f}km")

Digite a distância total percorrida:500
Digite o total de combustível gasto:35
O consumo médio do automóvel é de 14.29km

In [24]:
#q33.A IA
tempo = float(input("Digite o tempo gasto na viagem (em horas): "))
velocidade = float(input("Digite a velocidade média durante a viagem (em km/h): "))
distancia = tempo * velocidade
litros_gastos = distancia / consumo_medio
print(f"A quantidade de litros de combustível gastos na viagem foi de {litros_gastos:.2f} L")
#33.B
tempo = float(input("Digite o tempo gasto na viagem (em horas): "))
velocidade = float(input("Digite a velocidade média durante a viagem (em km/h): "))
distancia = tempo * velocidade
litros_gastos = distancia / consumo_medio
print(f"A quantidade de litros de combustível gastos na viagem foi de {litros_gastos:.2f} L")

Digite o tempo gasto na viagem (em horas): 10
Digite a velocidade média durante a viagem (em km/h): 85
A quantidade de litros de combustível gastos na viagem foi de 59.50 L

In [33]:
#q34
dias = int(input("Digite a quantidade de dias:"))
horas = int(input("Digite a quantidade de horas:"))
minutos = int(input("Digite a quantidade de minutos:"))
segundos = int(input("Digite a quantidade de segundos:"))
total_segundos = dias * 24 * 60 * 60 + horas * 60 * 60 + minutos * 60 + segundos
print(f"O total em segundos é de {total_segundos}")

Digite a quantidade de dias:7
Digite a quantidade de horas:24
Digite a quantidade de minutos:60
Digite a quantidade de segundos:60
O total em segundos é de 694860

In [ ]:
#q35 IA
lado = float(input("Digite o valor do lado do quadrado: "))
perimetro = 4 * lado
area = lado ** 2
diagonal = lado * math.sqrt(2)
print(f"O perímetro do quadrado é de {perimetro:.2f} cm")
print(f"A área do quadrado é de {area:.2f} cm²")
print(f"A diagonal do quadrado é de {diagonal:.2f} cm")

In [ ]:
#36 IA.erro
notas = [100, 50, 20, 10, 5, 2, 1]

valor = int(input("Digite um valor inteiro: "))

notas_necessarias = []

for nota in notas:
    while valor >= nota:
        notas_necessarias.append(nota)
        valor -= nota

print(f"O valor lido é {valor}")
print(f"A relação de notas necessárias é {notas_necessarias}")

In [57]:
#q37 IA. ERRO
tempo_em_segundos = int(input("Digite o tempo de duração do evento em segundos:"))
horas = tempo_em_segundos // 3600
minutos = (tempo_em_segundos % 3600) // 60
segundos = tempo_em_segundos % 60
print(f"O tempo de duração do evento é de" {horas:02}:{minutos:02}:{segundos:02})

SyntaxError: ignored

In [ ]:
#q39 ERRO
idade_dias = int(input("Digite a idade em dias: "))

anos = idade_dias // 365
meses = (idade_dias % 365) // 30
dias = idade_dias % 30

print(f"A idade da pessoa é de {anos} anos, {meses} meses e {dias} dias.")

In [ ]:
#Q39 IA. erro
notas = [100, 50, 20, 10, 5, 2]
moedas = [1, 0.50, 0.25, 0.10, 0.05, 0.01]

valor = float(input("Digite um valor de ponto flutuante com duas casas decimais: "))

notas_necessarias = []
moedas_necessarias = []

for nota in notas:
    while valor >= nota:
        notas_necessarias.append(nota)
        valor -= nota

valor_fracao = valor - int(valor)

for moeda in moedas:
    while valor_fracao >= moeda:
        moedas_necessarias.append(moeda)
        valor_fracao -= moeda

print(f"O valor lido é {valor}")
print(f"As notas necessárias são {notas_necessarias}")
print(f"As moedas necessárias são {moedas_necessarias}")

In [62]:
#q40.A IA
expressao_1 = 3 < 2 ** 3 and 3 == 3
#39.B
expressao_2 = 0 != 4 or (3/3 == 1 and (5 + 1) / 3 == 2)

In [ ]:
#q41. ERRO
salario = float(input("Digite o salário: "))
paga_imposto = salario > 1200
print("Paga imposto?", paga_imposto)

In [ ]:
#q42.IA. ERRO
def calcular_expressao(a, b, c, d):
return a > b and c or not d
a = 1
b = 2
c = True
d = True
resultado = calcular_expressao(a, b, c, d)
print(f"O resultado da expressão é {resultado}")

In [ ]:
#q43. IA. ERRO
materia1 = float(input("Digite a nota da primeira matéria: "))
materia2 = float(input("Digite a nota da segunda matéria: "))
materia3 = float(input("Digite a nota da terceira matéria: "))

media = (materia1 + materia2 + materia3) / 3

faltas = int(input("Digite o número de faltas do aluno: "))
frequencia = 1 - faltas / 30

aluno_aprovado = media > 7 and frequencia >= 0.75

print("Aluno aprovado?", aluno_aprovado)